@CHARSET "UTF-8";
body {
	background-color: #F5F5F5;
}

/* 主体部分 */
.ui_layout {
	width:1000px;
	min-height:1850px;
	margin:0 auto;
	padding-top: 20px;
	padding-right:5px;
	background-color: #FFFFFF;
	border: 1px solid #ccc;
}
.ui_left {
	width:655px;
	min-height:1850px;
	padding-left: 30px;
	padding-right: 50px;	
	float:left;
	border-right: 1px solid #ccc;
}
.ui_right {
	width:220px;
	float:right;
	padding:5px 20px;
	background-color:#ffffff;
}
.f-fl {
	float:left;
}
.f-ff2 {
	float:right;
}

/* 专辑信息 */
.m-info {
	margin-top: 20px;
	margin-left: 10px;
	height: 180px;
}
.m-info .cnt {
	margin-left: 40px;
}
.u-icn {
    background: url("../../images/other/icon.png") no-repeat scroll 0 9999px rgba(0, 0, 0, 0);
}
.u-icn-16 {
    background-position: 0 -186px;
    height: 24px;
    width: 54px;
}
.cnt {
	color: #333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
}
.cnt .hd {
	width: 400px;
	height: 30px;
	clear: both;
}
.cnt .hd i {
	width: 60px;
	display: inline-block;
}
.cnt .hd .title {
	font-size: 24px;
	font-weight: bold;
}
.cnt .topblk {
	width: 410px;
}
a.s-fc7 {
	color: #0c73c2;
	text-decoration: none;
}
a.s-fc7:hover {
	text-decoration: underline;
}
.n-albdesc p.f-brk {
	margin-top: -10px;
	margin-left: 2em;
	font-size: 13px;
	color: #333;
	line-height: 23px;
}

/* 歌曲列表 */
.song_list {
	width: 700px;
	margin-top:25px;
}
.song_list .u-title .hd {
	font-size:22px;
	font-weight: bold;
}
.song_list .sub {
	margin-left: 10px;
	margin-top: 4px;
	font-size: 13px;
}
.song_list .u-title {
	height: 30px;
	border-bottom: 2px solid #C20C0C;
}
.m-table {
	width: 700px;
	border: 1px solid #ccc;
	border-collapse: collapse;
}
.m-table td, .m-table th {
	min-width: 70px;
}
.m-table tr {
	height:30px;
}
.m-table th {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-weight: normal;	
}
#m-song-list-module td {
	padding-left: 5px;
	font-size: 14px;
	color:#333;
}
#m-song-list-module td.first_td {
	width:80px;
}
#m-song-list-module td.second_td {
	width:250px;
}
#m-song-list-module td.third_td {
	width:70px;
}
#m-song-list-module td.fourth_td {
	width:120px;
}
#m-song-list-module td.fifth_td {
	width:120px;
}
#m-song-list-module a {
	text-decoration: none;
	color:#333;
}
#m-song-list-module a:hover {
	text-decoration: underline;
}
.m-table .ply {
    background-position: 0 -204px;
    height: 36px;
    margin-top: 0;
    width: 36px;
}
.m-table .ply:hover {
    background-position: -40px -204px;
}
.s-bg {
    background: url("../../images/other/index.png") no-repeat scroll 0 9999px rgba(0, 0, 0, 0);
}
.s-bg-11 {
    background-position: -267px -268px;
}
.s-bg-11:hover {
    background-position: -267px -288px;
}
.s-bg-12 {
    background-position: -297px -268px;
}
.s-bg-12:hover {
    background-position: -297px -288px;
}
.u-icn-81 {
    background-position: 0 -700px;
    height: 13px;
    width: 13px;
}
.f-cb .opt {
	float: right;
	margin-top: -15px;
}
.f-cb .opt span {
	width:20px;
	display: inline-block;
	cursor: pointer;
}
.ztag .left .playBtn {
	width:20px;
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
	float: right;
}

/* 喜欢这种专辑的人 */
.ui_right .u-hd .title {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}
.ui_right .u-hd .m-piclist {
	padding-left: 0;
}
.ui_right .u-hd .m-piclist li {
	list-style: none;
	width:42px;
	margin-right: 10px;
	display: inline;	
}

/* 其他专辑 */
.u-hd3 {
    border-bottom: 1px solid #ccc;
    color: #333;
    height: 23px;
    margin-bottom: 20px;
    position: relative;
    font-size: 13px;
}
.u-hd3 .more {
    float: right;
    font-weight: normal;
    color: #333;
	text-decoration: none;
}
.u-hd3 .more:hover { 
	text-decoration: none;
}
.m-rctlist {
	padding-left: 0;
    margin-bottom: 25px;
}
.m-rctlist li {
    float: left;
    height: 50px;
    line-height: 24px;
    margin-bottom: 15px;
    width: 200px;
    list-style: none;
    font-size: 13px;
}
.m-rctlist li a {
	color: #333;
	text-decoration: none;
}
.m-rctlist li a:hover {
	text-decoration: underline;
}
.m-rctlist .by {
    float: left;
}
.m-rctlist .nm {
    float: left;
    margin: 0 2px 0 4px;
    max-width: 106px;
}
.m-rctlist .nm-icn {
    max-width: 118px;
}
.m-rctlist sup {
    margin-top: -2px;
}
.m-rctlist .cver, .n-rctlist .cver img {
    float: left;
    height: 50px;
    width: 50px;
}
.m-rctlist .cver {
    margin-right: -60px;
}
.m-rctlist .info {
    line-height: 24px;
    margin-left: 60px;
    margin-top: -20px;
}
.m-rctlist .info .f-thide {
	font-weight: bold;
}
.m-rctlist .info p {
    width: 140px;
}
.m-rctlist .info .djn {
    max-width: 95px;
}