@CHARSET "UTF-8";
body {
	background-color: #F5F5F5;
}

/* 主体部分 */
.ui_layout {
	width:1000px;
	min-height:1500px;
	margin:0 auto;
	padding-top: 20px;
	padding-right:5px;
	background-color: #FFFFFF;
}

/* 推荐歌单部分 */
.song_listing {
	width:950px;
	min-height:1495px;
	padding-left: 40px;
	padding-right: 40px;
	position: relative;
}

/* 推荐歌单部分 标题 */
.v-hd2 {
    background-position: -240px -226px;
    border-bottom: 2px solid #c10d0c;
    height: 33px;
    padding: 0;
}
.v-hd2 .tit {
    float: left;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    color: #333;
    text-decoration: none;
}
.v-hd2 .tab {
    float: left;
    margin: 7px 0 0 20px;
}
.s-bg, .v-hd2 {
    background: url("../../images/other/index.png") no-repeat scroll 0 9999px rgba(0, 0, 0, 0);
}
.s-bg-6 {
    background-position: -2px -240px;
}
.selectCateSpan {
	margin-left:10px;
	position: relative;
	top: 5px;
	height:20px;
	padding: 5px 9px;
	color:#3080CC;
	border:1px solid #ccc;
	border-radius:3px;
	font-size:13px;
	background-color: #F1F1F1;
	cursor: pointer;
}
.selectCateSpan:hover {
	background-color: #fff;
}
.u-icn {
    background: url("../../images/other/icon.png") no-repeat scroll 0 9999px rgba(0, 0, 0, 0);
}
.u-icn-38 {
    background-position: -70px -543px;
    height: 5px;
    width: 8px;
}
.selectCateSpan em {
	position: relative;
	top:7px;
	margin-left: 5px;
}
/* 热门、最新 */
.order {
    float:right;
    font-size: 13px;
}
.order a {
	color:#333;
	text-decoration: none;
	padding: 10px;
	background-color: #ccc;
	margin-right: 0;
}
.order a.hot {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.order a.new {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.order a.selected {
	background-color: #C80C0C;
	color:#fff;
}

/* 歌单过滤div */
.listing_filter_div {
	position: absolute;
	top:40px;
	left:20px;
	border:1px solid #ccc;
	background-color:#fff;
	z-index:3;
	width: 730px;
	border-radius:5px;
	padding-bottom: 20px;
}
.arror_div {
	position: absolute;
	top:-12px;
	left:105px;
	width:24px;
	height:11px;
	background: url("../../images/other/iconall.png") no-repeat scroll 0 9999px rgba(0, 0, 0, 0);
	background-position: -48px 0;
	z-index:5;
	display: inline-block;
	border-bottom: 1px solid #fff;
}
.listing_filter_div .title {
	text-decoration: none;
	color:#000;
}
.listing_filter_div .title:hover {
	text-decoration: underline;
}
.listing_filter_div .title em {
	padding: 4px 7px;
	border:1px solid #ccc;
	margin-left: 30px;
	font-size:13px;
	font-style: normal;	
	color:#000;
	font-weight: normal;
	border-radius:3px;
}
.listing_filter_div .f-cb {
	padding-left: 30px;
	padding-right: 30px;
	min-height:40px;
	font-size:13px;
}
.listing_filter_div .f-cb a {
	color:#000;
	text-decoration: none;
}
.listing_filter_div .f-cb a:hover {
	text-decoration: underline;
}
.listing_filter_div dt {
	width:50px;
	float:left;
	font-weight: bold;	
}
.listing_filter_div dd {
	width:555px;
	float:left;
	position: relative;
	left:-35px;
	top:-4px;
	padding-left:20px;
	border-left: 1px solid #ccc;
}
.listing_filter_div dd a {
	margin-right: 10px;
	line-height:27px;
	margin-bottom: 15px;
}

/* 推荐歌单具体内容部分 */
/* 耽搁歌单总体样式 */
.m-cvrlst {
	margin: 0;
	padding: 15px 0 0 0;
	width:940px;
}
.m-cvrlst li {
	list-style:none;
	margin-left: 40px;
	display: inline-block;
	position: relative;
	left:-28px;
}

.u-cover .bottom, .u-cover .msk {
    background: url("../../images/other/coverall.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.u-cover .ply, .u-cover .icon-headset, .u-cover .icon-play {
    background: url("../../images/other/iconall.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.u-cover-1 {
    height: 140px;
    width: 140px;
    position: relative;
}
.u-cover .icon-headset {
    background-position: 0 -24px;
    float: left;
    height: 11px;
    margin: 9px 5px 9px 10px;
    width: 14px;
}
.u-cover .icon-play {
    background-position: 0 0;
    bottom: 5px;
    height: 17px;
    position: absolute;
    right: 10px;
    width: 16px;
}
.u-cover .bottom {
    background-position: 0 -537px;
    bottom: 0;
    color: #ccc;
    height: 27px;
    left: 0;    
    position: absolute;
    width: 100%;
    font-size:13px;
}
/* 歌单收听数 */
.u-cover .bottom .nb {
	position: relative;
	top:6px;
}
/* 歌单名样式 */
.m-cvrlst li .dec {
	max-width: 140px;
	max-height: 60px;
	margin-top: 3px;
}
.m-cvrlst li .dec a {
	color: #333;
	text-decoration: none;
	font-size: 14px;
}

.m-cvrlst li .dec a:hover {
	text-decoration: underline;
}