@CHARSET "UTF-8";
.ui_layout {
	width: 1000px;
	margin: 0 auto;
	border: 1px solid #ccc;
}
.ui_layout .pgsrch {
	width: 420px;
	height: 42px;
	margin: 50px auto 0;
    background: url("../../images/other/sprite.png") no-repeat scroll 0 9999px rgba(0, 0, 0, 0);
   	background-position: 0 0;
}
.ui_layout .pgsrch input.srch {
	margin: 6px 15px;
	width: 334px;
	height: 21px;
	border: none;
}
.ui_layout .pgsrch a.btn {
	position: relative;
	left: -8px;
	text-decoration: none;
	margin-top:2px;
	padding: 8px 30px 8px 2px;
	width:10px;
	height: 5px;
}
.ui_layout .btn:hover {
	background: url("../../images/other/sprite.png") no-repeat scroll 0 9999px rgba(0, 0, 0, 0);
    background-position: -426px 0px;
}

#m-search {
	width: 940px;
	margin: 30px auto;
}
#m-search .snote {
	font-size: 14px;
	color: #999;
}

/* 内部导航栏 */
.m-tabs, .m-tabs a, .m-tabs em, .m-tabs1 a, .m-tabs1 em {
    background: url("../../images/other/tab.png") no-repeat scroll 0 9999px rgba(0, 0, 0, 0);
}
.m-tabs {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-position: 0 0;
    background-repeat: repeat-x;
    border-color: #ccc;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    padding-left: 0;
    height: 39px;
    width: 938px;
}
.m-tabs li, .m-tabs a, .m-tabs em {
    float: left;
    font-size: 14px;
    height: 39px;
}
.m-tabs li {
    left: -1px;
    position: relative;
    list-style: none;
	display: inline;
}
.m-tabs a {
    padding-left: 2px;
}
.m-tabs em {
    cursor: pointer;
    height: 37px;
    line-height: 37px;
    padding: 2px 2px 0 0;
    text-align: center;
    width: 134px;
    font-style: normal;
    color: #333;
}
.m-tabs a:hover {
    background-position: -5px -45px;
    text-decoration: none;
}
.m-tabs em:hover {
    background-position: right -45px;
}
.m-tabs li.fst a:hover {
    background-position: left -45px;
}
.m-tabs a.z-slt {
    background-position: left -90px;
}
.m-tabs a.z-slt em {
    background-position: right -90px;
}