@CHARSET "UTF-8";
body {
	background-color: #F5F5F5;
}

/* 主体部分 */
.ui_layout {
	width:1000px;
	min-height:1400px;
	margin:0 auto;
	padding-top: 20px;
	padding-right:5px;
	background-color: #FFFFFF;
	border: 1px solid #ccc;
}
.ui_left {
	width:655px;
	min-height:1400px;
	padding-left: 30px;
	padding-right: 50px;
	float:left;
}
.ui_right {
	width:250px;
	min-height:1360px;
	float:right;
	padding:5px;
	margin-top: 23px;
	background-color:#ffffff;
	border-left:1px solid #ccc;
}

/* 头像 */
.ui_left .head {
	margin-top: 20px;
	position: relative;
}
.ui_left .head span {
	font-size: 30px;
	font-weight: bolder;
	position: absolute;
	bottom: 20px;
	left: 40px;
	color: #fff;
}
.ui_left .head .mask {
	width: 640px;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	heigth: 20px;
    background: url("../../images/other/ban_mask.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.content {
	position: relative;
	top: -22px;
}

/* 内部导航栏 */
.m-tabs, .m-tabs a, .m-tabs em, .m-tabs1 a, .m-tabs1 em {
    background: url("../../images/other/tab.png") no-repeat scroll 0 9999px rgba(0, 0, 0, 0);
}
.m-tabs {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-position: 0 0;
    background-repeat: repeat-x;
    border-color: #ccc;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    padding-left: 0;
    height: 39px;
    width: 638px;
}
.m-tabs li, .m-tabs a, .m-tabs em {
    float: left;
    font-size: 14px;
    height: 39px;
}
.m-tabs li {
    left: -1px;
    position: relative;
    list-style: none;
	display: inline;
}
.m-tabs a {
    padding-left: 2px;
}
.m-tabs em {
    cursor: pointer;
    height: 37px;
    line-height: 37px;
    padding: 2px 2px 0 0;
    text-align: center;
    width: 134px;
    font-style: normal;
    color: #333;
}
.m-tabs a:hover {
    background-position: -5px -45px;
    text-decoration: none;
}
.m-tabs em:hover {
    background-position: right -45px;
}
.m-tabs li.fst a:hover {
    background-position: left -45px;
}
.m-tabs a.z-slt {
    background-position: left -90px;
}
.m-tabs a.z-slt em {
    background-position: right -90px;
}

/* 相似的歌手 */
.ui_right .u-hd .title {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}
.ui_right .u-hd .m-piclist {
	padding-left: 0;
}
.ui_right .u-hd .m-piclist li {
	list-style: none;
	width:55px;	
	display: inline-block;
	height:80px;
	position: relative;	
}
.ui_right .u-hd .m-piclist a {
	color: #333;
	text-decoration: none;
}
.ui_right .u-hd .m-piclist a:hover {
	text-decoration: underline;
}
.ui_right .u-hd .m-piclist li  span {
	font-size: 13px;
	position: absolute;
	bottom: 10px;
	left:0;
}