@CHARSET "UTF-8";
body {
	background-color: #F5F5F5;
}

/* 主体部分 */
.ui_layout {
	width:1000px;
	min-height:1400px;
	margin:0 auto;
	padding-top: 20px;
	padding-right:5px;
	background-color: #FFFFFF;
	border: 1px solid #ccc;
}
.ui_left {
	width:655px;
	min-height:1400px;
	padding-left: 30px;
	padding-right: 50px;	
	float:left;
	border-right: 1px solid #ccc;
}
.ui_right {
	width:250px;
	float:right;
	padding:5px;
	background-color:#ffffff;
}
.f-fl {
	float:left;
}
.f-ff2 {
	float:right;
}

/* 头像 */
.cvrwrap {
	margin-top: 20px;
	margin-left: 30px;	
}
.cvrwrap img {
	border-radius: 65px;
}
/**/
.u-icn {
    background: url("../../images/other/icon.png") no-repeat scroll 0 9999px rgba(0, 0, 0, 0);
}
.u-icn-37 {
    background-position: 0 -463px;
    height: 24px;
    width: 54px;
}
.cnt {
	margin-left: 40px;
	color: #333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
}
.cnt .hd i {
	width: 60px;
	display: inline-block;
}
.cnt .hd .title {
	font-size: 24px;
	font-weight: bold;
	margin-right: 160px;
}
.cnt .lyricDiv {
	margin-top: 20px;
	line-height: 23px;	
	min-height: 280px;
	width: 100%;
}
a.s-fc7 {
	color: #0c73c2;
	text-decoration: none;
}
a.s-fc7:hover {
	text-decoration: underline;
}
.u-icn-69, .u-icn-70 {
    background-position: -65px -520px;
    height: 8px;
    width: 11px;
}
.u-icn-70 {
    background-position: -45px -520px;
}
.crl i {
	width: 20px;
	display: inline-block;
	position: relative;
	top:5px;	
}

/* 喜欢该歌的人 */
.ui_right .u-hd .title {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}
.ui_right .u-hd .m-piclist {
	padding-left: 0;
}
.ui_right .u-hd .m-piclist li {
	list-style: none;
	width:60px;
	display: inline;
}