@charset "utf-8";
/* CSS Document */
.nav {width:100%; height:50px; background-color:#EB6120; padding-left:16px;  margin:-8px 0 0 -8px;}
.ui_plugins {margin:0 auto; width:1000px; height:40px; padding-left:16px; padding-top:5px; padding-bottom:5px;  vertical-align:middle;}
.nav .logo { height:41px; overflow:hidden; width:102px; margin-left:20px; text-decoration:none;}
.nav .logo img {border:0 none; height: 41px; border-radius:8px;}

.ui_nav_menu {width:300px; display:inline; position:relative; top:-16px; margin-left:20px;}
.ui_inline {display:inline; list-style-type:none; width:300px; color:#fff; height:48px; font-size:16px; font-weight: bold;}
.ui_inline li {display:inline; height:30px; line-height:30px; padding:8px; margin-left:10px;}
.ui_inline li.isHover {background-color:#ff6600;}
.ui_inline li a {color:#fff; text-decoration:none;}

/* 搜索框和登录注册 */
.ui_nav_right {display:inline; width:400px; float:right; margin-right:70px;  margin-top:5px;}

/* 搜索框 */
.ui_t_search {width:350px; height:50px; display:inline; position:relative; top:-10px;}
#gForm {width:250px; display:inline;}
.search_text {border: 0 none; border-bottom-left-radius: 3px;
border-top-left-radius: 3px; color: #666;
font-size: 12px; height: 18px; line-height: 18px;
outline: 0 none; padding: 6px 5px; width: 194px; border-top-left-radius:3px; border-bottom-left-radius:3px;}
.search_button {border-bottom-right-radius: 3px;border-top-right-radius: 3px; 
 overflow: hidden; width: 27px; height: 18px; line-height: 18px;
outline: 0 none; padding: 6px 0; background-color:#fff; position:relative; top:1px; left:-9px;}
.search_button input { margin-top:5px; padding-left:5px; background: url(../../images/other/ico_glass.gif) no-repeat scroll 12px 8px rgba(0, 0, 0, 0);
 border: 0 none; height: 28px; outline: 0 none; width: 27px;}

/* 登录、注册 */
.ui_login {display:inline; width:100px; height:46px; margin-left:20px; color:#fff;}
.ui_dHead {border-radius: 15px;}
.ui_login a {text-decoration:none; color:#fff; font-size:14px; position:relative; top:-8px;}
.ui_login span {position:relative; top:-7px;}

/* 导航栏 */
.m-tlist {
    height: 177px;
    position: absolute;
    right: 200px;
    top: 45px;
    width: 170px;
}
.m-tlist ul, .m-tlist li {
    margin: 0 auto;
    width: 160px;
    list-style: none;
}
.m-tlist li, .m-tlist li a {
    float: left;			    
}
.m-tlist a {
    color: #ccc;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    padding-left: 25px;
    width: 135px;
    text-decoration: none;
    font-size: 13px;
}
.m-tlist a:hover {
    color: #fff;			    
}
.m-tlist, .m-tlist .icn, .m-tlist a {
  	background: url("../../images/other/toplist.png") no-repeat scroll 0 9999px rgba(0, 0, 0, 0);
}
.m-tlist a.itm-1 {
    background-position: -5px -10px;
    position: relative;
}
.m-tlist a.itm-1:hover {
    background-position: -5px -190px;
}			
.m-tlist a.itm-2 {
    background-position: -5px -50px;
}
.m-tlist a.itm-2:hover {
    background-position: -5px -230px;
}
.m-tlist a.itm-3 {
    background-position: -5px -130px;
}
.m-tlist a.itm-3:hover {
    background-position: -5px -310px;
}

/* 悬浮登录框 */
#boxy form {
	width: 400px;	
}
#boxy input[name='account'], #boxy input[name='password'] {
	width:300px;
	height:30px;
	margin-top:-2px;
	font-size:14px;
	display:block;
	padding-left:20px;
}
#boxy input[name='validateCode'] {
	width:150px;
	height:30px;	
	font-size:14px;
	padding-left:20px;
	position:relative;
	top:-13px;
}
#boxy input[type='submit'] {
	border:0;
	width:100px;
	height:40px;
	font-size:17px;
	padding:5px 10px;
	background-color:#F66F00;
	color:#fff;
	border-radius:4px;
	cursor:pointer;
	position:relative;
	top:-5px;
}
#boxy a {
	text-decoration:none;
	color:#333;
	font-size:14px;
}
#boxy a:hover {
	text-decoration:underline;
}
#boxy a.next {
	font-size:13px;
	color:#c03b0c;
	position:relative;
	top:-10px;
}
#boxy a.register {
	position:relative;
	top:-8px;
}
#boxy input[name='account'], #boxy input[name='password'], #boxy input[name='validateCode'] {
	border: 1px solid #cccccc;
	font-size:16px;
} 
#boxy p.errorInfo {
	font-size:13px; color:#c03b0c; margin-top:-4px; visibility:hidden;
}